// reikamoon's css framework
@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Exo:wght@300&family=Orbitron&family=Quicksand:wght@300&display=swap);

// Colors
$blackbg: rgb(20,20,20);
$black: rgb(10, 10, 10);
$white: whitesmoke;
$pink: deeppink;
$dark-pink: rgb(158, 15, 98);
$pink-variant: rgb(219, 27, 139);
$blue: rgb(3, 155, 216);
$dark-blue: rgb(8, 58, 78);
$eggshell: rgb(219, 219, 219);
$dark-red: rgb(163, 13, 13);
$red: rgb(248, 67, 67);
$midnight: rgb(0, 0, 0);

// Fonts
$orbit: 'Orbitron', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$exo: 'Exo', sans-serif;
$chakra: 'Chakra Petch', sans-serif;

//Shadows
$pink-shadow: 2px 2px deepink;
$black-shadow: 2px 2px rgb(10, 10, 10);
$blue-shadow: 2px 2px rgb(3, 155, 216);


body {
    background-color: $blackbg;
    color: $white;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 40px;
}

h1, h2, h3 {
    font-family: $orbit;
    text-shadow: $pink-shadow;
}

hr {
    border-top: 1px solid;
    border-color: $white;
    border-radius: 5px;
    overflow: hidden;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    font-family: $quicksand;
    font-size: 25px;
}

a {
    font-family: $exo;
    font-size: 25px;
}

a:link {
    color: $pink;
    text-decoration: none;
}

a:hover {
    color: $blue;
}

b {
    font-family: $quicksand;
}

li {
    list-style-type: circle;
}

.bowli {
    list-style-type: "\1F380";
}

/* Titles */
.title {
    font-size: 40px;
    text-align: center;
}

.aligncenter {
    text-align: center;
}

.headings {
    text-align: center;
}

.headingsblue {
    text-shadow: $blue-shadow;
}

/* Navbar */

.navbar {
    background-color: $pink;
    overflow: hidden;
    border: 1px solid;  
    border-radius: 25px;
    text-align: center;
}

.navbar a {
    color: $white;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    text-shadow: $black-shadow;
}

.navbar a:hover {
    background-color: $white;
    color: $black;
    text-shadow: $pink-shadow;
}

.navbar a:hover.active {
    color: $pink;
    text-shadow: $black-shadow;
}

.navbar a.active {
    text-decoration: underline;
    color: $white;
    text-shadow: $black-shadow;
}

/* Articles */

.articles {
   display: grid;
   grid-template-areas: 
   "a b c";
   grid-gap: 20px;
}

.articles h3, p {
    text-align: center;
}

.article1 {
    grid-area: a;
}

.article2 {
    grid-area: b;
}

.article3 {
    grid-area: c;
}

/* List */

.list {
    display: grid;
    grid-template-areas: 
    "a b c"
    "d e f";
}

li {
    font-family: $quicksand;
    font-size: 21px;
}

/* Cards */

.gridforcards {
    display: grid;
    grid-template-areas: 
    "q w r"
    "t y u";
    align-content: center;
    justify-content: center;
    grid-gap: 10px;
}

.cardA {
    background-color: $pink;
    color: $white;
    grid-area: q;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid $blue;
    margin-bottom: 0;
}

.cardA h3 {
    font-family: $quicksand;
    font-size: 30px;
    text-decoration: underline;
}

.cardA p {
    font-family: $quicksand;
    font-size: 20px;
}

.cardB {
    background-color: $blue;
    color: $white;
    grid-area: w;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid $white;
    margin-bottom: 0;
}

.cardB h3 {
    font-family: $quicksand;
    text-shadow: none;
    font-size: 30px;
    text-decoration: underline;
}

.cardB p {
    font-family: $quicksand;
    font-size: 20px;
}

.cardC {
    background-color: $eggshell;
    color: $pink;
    border-radius: 25px;
    border: 2px solid $pink;
    grid-area: r;
    padding: 20px;
    margin-bottom: 0;
}

.cardC h3 {
    font-family: $quicksand;
    text-shadow: none;
    font-size: 30px;
    text-decoration: underline;
}

.cardC p {
    font-family: $quicksand;
    font-size: 20px;
}

.cardD {
    background-color: $pink;
    color: $black;
    border-radius: 25px;
    border: 2px solid $blue;
    grid-area: t;
    padding: 20px;
    margin-bottom: 0;
}

.cardD h3 {
    font-family: $quicksand;
    text-shadow: none;
    font-size: 30px;
    text-decoration: underline;
}

.cardD p {
    font-family: $quicksand;
    font-size: 20px;
}

.cardE {
    background-color: $blue;
    color: $black;
    border-radius: 25px;
    border: 2px solid $white;
    grid-area: y;
    padding: 20px;
    margin-bottom: 0;
}

.cardE h3 {
    font-family: $quicksand;
    text-shadow: none;
    font-size: 30px;
    text-decoration: underline;
}

.cardE p {
    font-family: $quicksand;
    font-size: 20px;
}

.cardF {
    background-color: $black;
    color: $pink;
    border-radius: 25px;
    border: 2px solid $pink;
    grid-area: u;
    padding: 20px;
    margin-bottom: 0;
}

.cardF h3 {
    font-family: $quicksand;
    text-shadow: none;
    font-size: 30px;
    text-decoration: underline;
}

.cardF p {
    font-family: $quicksand;
    font-size: 20px;
}

/* Buttons */

button {
    font-family: $chakra;
    background-color: $pink;
    color: $white;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid;
    border-color: $white;
    padding: 10px;
}

.button2 {
    background-color: $blue;
    color: $white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    border-color: $white;
}

.button3 {
    background-color: $eggshell;
    color: $pink-variant;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    border-color: $pink;
}

.button4 {
    font-family: $chakra;
    background-color: $pink;
    color: $blackbg;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid;
    border-color: $blackbg;
    padding: 10px;
}

.button5 {
    background-color: $blue;
    color: $black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    border-color: $black;
}

.button6 {
    background-color: $black;
    color: $blue;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    border-color: $blue;
}

.button6 {
    background-color: $black;
    color: $blue;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    border-color: $blue;
}

.button7 {
    background-color: $black;
    color: $pink;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    border-color: $pink;
}


.dangerbutton {
    background-color: $dark-red;
    color: $white;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid;
    border-color: $midnight;
    box-shadow: 0 0 5px $red;
}

/* Flexbox */

.flexbox {
    display: flex;
}

.flexbox > div {
    font-family: $chakra;
    color: whitesmoke;
    border: 3px solid $white;
    border-radius: 24px;
    text-shadow: $pink-shadow;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

.flexbox > div:nth-child(even) {
    text-shadow: $blue-shadow;
}

/* Grids */

.grid2x2 {
    display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c d";
}

.grid2x2 > div {
    background-color: $blackbg;
    color: $white;
    text-shadow: $pink-shadow;
    font-family:$quicksand;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    border: 2px solid;
    border-color: $white;
}

.grid2x2 > div:nth-child(even) {
    text-shadow: 2px 2px rgb(3, 155, 216);
}

.grid3x3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas: 
    "a b c"
    "c d e";
}

.grid3x3 > div {
    background-color: $pink;
    color: $white;
    padding-top: 20px;
    font-family: $quicksand;
    font-size: 30px;
    text-align: center;
}

/* Forms */
input{
    font-family: $chakra;
    font-size: 20px;

}

label {
    font-family: $chakra;
    font-size: 25px;
    color: $white;
}


input[type=text] {
    border-radius: 10px;
    border-color: $pink;
    background-color: $blackbg;
    color: whitesmoke;
    padding: 12px 20px;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 10px;

    font-family: $quicksand;
    font-size: 20px;
    width: 50%;

}

input[type=number] {
    border-radius: 10px;
    border-color: $pink;
    background-color: $blackbg;
    color: $white;
    padding: 10px;
    margin-bottom: 10px;

    font-family: $pink;
    font-size: 20px;
}

input[type=date] {
    border-radius: 10px;
    border-color: $pink;
    background-color: $blackbg;
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;

    font-family: $chakra;
    font-size: 20px;
}

input[type=radio] {
    font-family: $quicksand;
    font-size: 20px;
    text-shadow: none;
}

input[type=submit] {
    background-color: $pink;
    color: whitesmoke;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
}

input[type=submit]:hover {
    background-color: $dark-pink;
}

input[type="reset"] {
    background-color: $blue;
    color: whitesmoke;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: $dark-blue;
}





